<%= render 'shared/header' %>

<main>
  <div class='TopHero'>
    <%= image_tag 'HeroImage.png', class:'TopHeroImage' %>
  </div>
  <div class='BoxesContainer'>
    <h2 class='BoxesTitle'>
      アイディア
    </h2>
    <div class='BoxesWrapper'>
      <%= render'shared/ideabox'%>
      <%= render'shared/ideabox'%>
      <%= render'shared/ideabox'%>
      <%= render'shared/ideabox'%>
      <%= render'shared/ideabox'%>
    </div>
  </div>
  <div class='BoxesContainer'>
    <h2 class='BoxesTitle'>
      作品
    </h2>
    <div class='BoxesWrapper'>
      <%= render'shared/workbox'%>
      <%= render'shared/workbox'%>
      <%= render'shared/workbox'%>
      <%= render'shared/workbox'%>
      <%= render'shared/workbox'%>
      <%= render'shared/workbox'%>
    </div>
  </div>
</main>

<%= render 'shared/footer' %>