<%= render "shared/header" %>
<main>
  <h1>ユーザー新規登録</h1>

  <%= form_with model: @user, url: user_registration_path, class: 'UserSignUpForm', local: true do |f| %>
    <%= render "devise/shared/error_messages", model: f.object %>

    <div class='FormInputsWrapper'>
      <div class="FormContainer">
        <div class="FormText">
          プロフィール画像
        </div>
        <%= image_tag 'SampleImage1.png', class:'UserSignUpIcon' %>
        <%# ファイルアップロードのボタンなど入れる %>
      </div>

      <div class="FormContainer">
        <div class="FormText">
          <%= f.label :name, value:'ユーザーネーム' %>
          <span class="FormRequired">必須</span>
        </div>
        <%= f.text_field :name, class: 'FormInput UserSignUpName', placeholder: '例)ichear太郎', maxlength: '40', autofocus: true %>
      </div>

      <div class="FormContainer">
        <div class='FormText'>
          <%= f.label :email, value: 'Eメールアドレス' %>
          <span class='FormRequired'>必須</span>
        </div>
        <%= f.email_field :email, class: 'FormInput UserSignUpEmail', placeholder: '例)xxxx@gmail.com' %>
      </div>

      <div class="FormContainer">
        <div class='FormText'>
          <%= f.label :password, value: 'パスワード' %>
          <span class='FormRequired'>必須</span>
        </div>
        <%= f.password_field :password, class:'FormInput UserSignUpPassword', placeholder: '6文字以上の半角英数字' %>
      </div>

      <div class="FormContainer">
        <div class='FormText'>
          <%= f.label :password_confirmation, value: 'パスワード確認用' %>
          <span class='FormRequired'>必須</span>
        </div>
        <%= f.password_field :password_confirmation, class:'FormInput UserSignUpPassword', placeholder: '同じパスワードを入力' %>
      </div>

      <div class="FormContainer">
        <div class="FormText">
          <%= f.label :self_introduction, value:'自己紹介' %>
        </div>
        <%= f.text_area :self_introduction, class: 'FormInput UserSignUpSelfIntroduction', placeholder: '自己紹介文を書く（上限1,000文字）', maxlength: '1000', autofocus: true %>
      </div>
    </div>

    <%= f.submit "新規登録する", class:'SubmitButton' %>
  <% end %>

</main>
<%= render "shared/footer" %>