<%= render "shared/header" %>
<main>
  <h1>ログイン</h1>

  <%= form_with model: @user, url: user_session_path, class: 'UserSignInForm', local: true do |f| %>

    <div class='FormInputsWrapper'>
      <div class="FormContainer">
        <div class='FormText'>
          <%= f.label :email, value: 'Eメールアドレス' %>
        </div>
        <%= f.email_field :email, class: 'FormInput UserSignInEmail', autocomplete: 'email', autofocus: true %>
      </div>

      <div class="FormContainer">
        <div class='FormText'>
          <%= f.label :password, value: 'パスワード' %>
        </div>
        <%= f.password_field :password, class:'FormInput UserSignInPassword', autocomplete: 'current_password' %>
      </div>
    </div>

    <%= f.submit "ログインする", class:'SubmitButton' %>
  <% end %>
</main>
<%= render "shared/footer" %>